body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.container {
    display: flex;
    height: 100;
}

.box {
    height: 100vh;
    width: 60%;
    background: url(https://images.unsplash.com/photo-1531292039036-7720ff2dadd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60) ;
    background-repeat: no-repeat;
}

.image {
    width: 90%;
}

.box1 {
    height: 100%;
    width: 55%;
}

.B1 {
    height: 0%;
    margin-right: 180px;
}

.B2 {
    height: 300px;
    margin-top: 100px;
    border: 1px solid rgb(237, 229, 229);
    box-shadow: inset;
    box-shadow: 10px 1px 5px 10px rgb(244, 241, 241);
}

.B3 {
    height: 10%;
    margin-left: 50px;
    margin-top: 90px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 250px;
    margin-left: 59px;
}

.txt {
    margin-left: 59px;
    font-weight: bold;
}

.btn {
    background-color: #596D48;
    border-radius: 5px;
    padding: 18px;
    width: 250px;
    font-weight: bold;
    font-size: larger;
    color: white;
}

.container {
    display: flex;
}

.div1 {
    color: gray;
}

.div2 {
    margin-left: 95px;
    color: gray;
}

.input1 {
    height: 29px;
    width: 260px;
    border: 1px solid gray;
    border-radius: 9px;
}

.family {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: rgb(53, 181, 232);
  }