* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
  }
/* body{
    font-family: robot;
margin: 0;
padding: 0;
margin-right: 0;
} */

.item{
    width: 100%;
    
    background-color: #1f2937;
    height: 600px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    color:aliceblue
}
.group-list{
    display: flex;
    justify-content:space-between; 
    margin: 5px;  
    height: 550px;
}
.inside{
    margin-top: 200px;
}
.header-logo{
    font-size: 30px;

}
.box-bg{
    margin-top: 200px;
    background-color: #787c85;
    width: 400px;
    height:200px;
}
.text1{
    display: flex;
    justify-content: center;
    margin: 80px;
}

.txt{
    display:flex;
}
.Headerlink{
    margin: 8px;
}


.item2{
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}
.header {
    width: 900px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 150px;
  }
  /* .txt{
    margin: 100px;
    padding-top: 30px;
  } */
.logo{
    border: 0px solid #3882f6;
    height: 180px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-radius: 15px;
}


.item3{
    height: 500px;
    width: 100%;
    background-color:#e5e7eb;
    display: flex;
    justify-content: center;
}

.inf{
    margin-top: 150px;
font-style: italic;
font-size: xx-large;
}




.item4{
    height: 300px;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
}
.call{
    width: 60%;
    margin-top: 80px;
    margin-bottom: 70px;
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    border-radius: 10px;
    padding-top: 70px;
    padding-bottom: 90px;
}

.clr{
    color: #f9faf8;
}
.clr1{
    color: #e5e7eb;
}

.btn{
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
    color: azure;
    background-color: #3882f6;
    border: 1px solid white;
    font-size: 15px;
    font-weight: bold;
}

.item5{
    height: 50px;
    width: 100%;
    border: 1px solid grey;
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.footeer{
    color:azure
}
