body{
    background-color: beige;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
  }
  th{
    background-color:burlywood;
  }
  
  tr{
    background-color: rgb(52, 50, 50);
  }